<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="\static\css\dashboard.css">
</head>
<body>
    <h1>Patient Dashboard</h1>

<hr>
<div class="container mt-5">
    <h1 class="text-center">Patient Dashboard</h1>

    <div class="mt-4">
        <a href="/predict" class="btn btn-primary">Predict Disease</a>
        <a href="/history" class="btn btn-success">View History</a>
        <a href="/login" class="btn btn-danger">Logout</a>
    </div>
</div>
</body>
</html>
